#pogrubienie_Lishka {
    font-size:31px;
    color: #905cd3;
}
#pochylona_Lishka {
    font-size: 36pt;
    color: #f4c06f;
}
#index_gorny_Lishka {
    font-size: 1,1cm; 
    color: #a48e1f;
}
#index_dolny_Lishka {
    font-size: 1,7cm;
    color: rgb(25%, 95%, 91%);
}
#mono_Lishka {
    font-size: 41px;
    color: #24de6f;
}
#powienkszenie_Lishka {
    color: #5e3ea1;
}
#pomniejszenie_Lishka {
    color: rgb(76%, 64%, 24%);
}